<template name="add_item">
  <div class="container add-item-form">
  	<h3 style="margin-bottom: 25px; text-align: center;">We did not find what you were looking for ... </h3>
	  <div class="container">
		<div class="col-md-6 col-md-offset-3">
		    <div class="form-area">  
		        <form role="form">
		        <br style="clear:both">
	                <h3 style="margin-bottom: 25px; text-align: center;">Add it to our collection!</h3>
					<div class="form-group">
						<input type="text" class="form-control brand" placeholder="Brand" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control name" placeholder="Name" required>
					</div>
	                <div class="form-group">
	                <textarea class="form-control message" type="textarea" placeholder="What do you think about it?" maxlength="140" rows="7"></textarea>                   
	                </div>
		            
		           <button type="button" class="btn btn-primary pull-right add-item-btn"><i class="glyphicon glyphicon-ok"></i></button>
		        </form>
		    </div>
		</div>
		</div>
  </div>
</template>