<template name="claims">
    {{>login}}
	 <div class="item-box">
        <div class="col-md-6">
            <div class="claims-box">
            	<div class="claims-list-title">
            		<h3>Your claims</h3>
            	</div>
        		{{#each claimedList}}
        			{{>claim_item}}
        		{{/each}}
            </div>
        </div>
        <div class="col-md-6">
            <div class="item-img">
               <div class="item-name">
                   <h3>{{currentUser.username}}</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="score">
                            <div class="score-row">
                                Number of beers: {{number_of_beers}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item-description">
                            <div class="title">
                                Beer fact:
                            </div>
                            <div class="content">
                                {{random_beer_fact}}
                            </div>
                            <img src="/beerprofile.png" class="img-responsive img-rounded" alt="Cinque Terre">
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</template>


<template name="claim_item">
 	<div class="claim-item">
		<h3>{{name}}</h3>
	</div>
</template>