<template name="login">
    <form>
   		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Username</span>
		  <input type="email" name="loginEmail" class="form-control loginUsername" placeholder="Username" aria-describedby="basic-addon1">
		</div>

		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Password</span>
		  <input type="password" name="loginPassword" class="form-control loginPassword" placeholder="password" aria-describedby="basic-addon1">
		</div>
    </form>
</template>