<template name="register">
	<div class="register">
		<div class="title">
			<h1>Register:</h1>
		</div>
	    <div class="col-md-6">
	    	<div class="register-row">
		     	<h3 class="labels">Username</h3>
		     	<input type="text" class="form-control registerUsername" placeholder="Username" required>
	    	</div>
	    	<div class="register-row">
		     	<h3 class="labels">Password</h3>
		     	<input type="password" class="form-control registerPassword" placeholder="Password" required>
	    	</div>
	    	<div class="register-row">
		     	<a href="#" class="btn btn-block btn-default register-btn">Register</a>
	    	</div>
		</div>
		<div class="col-md-6">
		</div>
	</div>
</template>