<template name="register">
    <form>
    	<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Username</span>
		  <input type="email" name="registerEmail" class="form-control registerUsername" placeholder="Username" aria-describedby="basic-addon1">
		</div>

		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Password</span>
		  <input type="password" name="registerPassword" class="form-control registerPassword" placeholder="password" aria-describedby="basic-addon1">
		</div>
    </form>
</template>